body {
  background-color: #000000ff;
  min-height: 100vh;
  text-decoration-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  overflow:hidden
}

.card {
  width: 355px;
  height: 455px;
}
