body {
  background-color: #000000ff;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vh;
  max-width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  overflow:hidden
}

.card {
  width: 160px;
  height: 160px;
}
